header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #a9508b 3px solid;

  .navbar {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    #brand {
      .logo {
        img {
          border-radius: 10px;
          margin-right: 5px;
        }
      }
      span.highlight {
        color: #a9508b;
        font-weight: bold;
        display: inline-block;

        &:first-letter {
          text-transform: uppercase;
          font-size: 50px;
        }
      }
    }
    nav {
      margin-top: 36px;
    }
    ul {
      display: flex;
      list-style-type: none;

      li {
        padding: 0 20px;
        color: #ffffff;
        a {
          color: #ffffff;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
        }
        a:hover {
          color: #a9508b;
          font-weight: bold;
        }
      }
      .home {
        a {
          color: #a9508b;
          font-weight: bold;
        }
      }
    }
  }
}
