#showcase {
  min-height: 400px;
  background: url(../img/showcase.jpg) no-repeat;
  text-align: center;
  color: #ffffff;
  //   margin: 0;
  .container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      margin-top: 0;
      font-size: 55px;
      margin-bottom: 10px;
      line-height: 82px;
      font-weight: 700;
    }
    p {
      font-size: 20px;
      line-height: 30px;
      margin: 20px 30px;
      text-align: center;
      font-weight: 400;
    }
  }
}
